<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>books_create</title>
</head>
<body>
<form method="POST">
        {% csrf_token %}
               <p>
            <label>Введите название книги</label><br>
            <input type="text" name="name" value="{{book.name}}" />
        </p>
        <p>
            <label>Введите имя автора</label><br>
            <input type="text" name="author_name" value="{{book.author_name}}" />
        </p>
                <p>
            <label>Введите фамилию автора</label><br>
            <input type="text" name="author_surname" value="{{book.author_surname}}" />
        </p>
        <p>
            <label>Введите количество</label><br>
            <input type="number" name="quantity" value="{{book.quantity}}" />
        </p>
        <p>
            <label>Введите стоимость</label><br>
            <input type="number" name="price" value="{{book.price}}" />
        </p>
        <p>
            <label>Введите описание</label><br>
            <input type="text" name="description" value="{{book.description}}" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>